aiohttp==3.6.2
altgraph==0.17
aniso8601==8.0.0
apipkg==1.5
appdirs==1.4.4
appnope==0.1.0
APScheduler==3.6.3
asgiref==3.3.1
asteval==0.9.18
async-timeout==3.0.1
attrs==19.3.0
Automat==20.2.0
automium==0.2.6
automium-web==0.1.1
autopep8==1.5.4
awscli==1.18.36
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.0
boto3==1.12.41
botocore==1.15.36
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
configparser==5.0.0
constantly==15.1.0
contextlib2==0.6.0.post1
crayons==0.3.1
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.0
distro==1.5.0
Django==3.1.4
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
execnet==1.7.1
filelock==3.0.12
fire==0.2.1
Flask==1.1.1
Flask-RESTful==0.3.8
fuzzywuzzy==0.18.0
h5py==2.10.0
html5lib==1.1
hyperlink==19.0.0
idna==2.9
importlib-metadata==1.7.0
incremental==17.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
jrnl==2.2
json-logging==1.1.0
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==19.3.0
kiwisolver==1.1.0
legacy==0.1.6
lxml==4.5.0
macholib==1.14
mariadb==1.0.5
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
mock==4.0.2
more-itertools==8.2.0
MouseInfo==0.1.2
multidict==4.7.5
mysql-connector-python==8.0.20
nbconvert==5.6.1
nbformat==5.0.4
nltk==3.4.5
notebook==6.0.3
numpy==1.18.1
packaging==20.3
pandas==1.0.1
pandocfilters==1.4.2
parse==1.14.0
parsedatetime==2.5
parsel==1.5.2
parso==0.6.1
passlib==1.7.2
path==13.1.0
path.py==12.4.0
pep517==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pipreqs==0.4.10
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.3
Protego==0.1.16
protobuf==3.12.0
psutil==5.7.0
ptyprocess==0.6.0
pure-python-adb==0.2.3.dev0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.48
pycodestyle==2.6.0
pycparser==2.19
PyDispatcher==2.0.5
PyGetWindow==0.0.8
Pygments==2.5.2
PyHamcrest==2.0.2
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyMsgBox==1.0.7
pyobjc==6.2
pyobjc-core==6.2
pyobjc-framework-Accounts==6.2
pyobjc-framework-AddressBook==6.2
pyobjc-framework-AdSupport==6.2
pyobjc-framework-AppleScriptKit==6.2
pyobjc-framework-AppleScriptObjC==6.2
pyobjc-framework-ApplicationServices==6.2
pyobjc-framework-AuthenticationServices==6.2
pyobjc-framework-AutomaticAssessmentConfiguration==6.2
pyobjc-framework-Automator==6.2
pyobjc-framework-AVFoundation==6.2
pyobjc-framework-AVKit==6.2
pyobjc-framework-BusinessChat==6.2
pyobjc-framework-CalendarStore==6.2
pyobjc-framework-CFNetwork==6.2
pyobjc-framework-CloudKit==6.2
pyobjc-framework-Cocoa==6.2
pyobjc-framework-Collaboration==6.2
pyobjc-framework-ColorSync==6.2
pyobjc-framework-Contacts==6.2
pyobjc-framework-ContactsUI==6.2
pyobjc-framework-CoreAudio==6.2
pyobjc-framework-CoreAudioKit==6.2
pyobjc-framework-CoreBluetooth==6.2
pyobjc-framework-CoreData==6.2
pyobjc-framework-CoreHaptics==6.2
pyobjc-framework-CoreLocation==6.2
pyobjc-framework-CoreMedia==6.2
pyobjc-framework-CoreMediaIO==6.2
pyobjc-framework-CoreML==6.2
pyobjc-framework-CoreMotion==6.2
pyobjc-framework-CoreServices==6.2
pyobjc-framework-CoreSpotlight==6.2
pyobjc-framework-CoreText==6.2
pyobjc-framework-CoreWLAN==6.2
pyobjc-framework-CryptoTokenKit==6.2
pyobjc-framework-DeviceCheck==6.2
pyobjc-framework-DictionaryServices==6.2
pyobjc-framework-DiscRecording==6.2
pyobjc-framework-DiscRecordingUI==6.2
pyobjc-framework-DiskArbitration==6.2
pyobjc-framework-DVDPlayback==6.2
pyobjc-framework-EventKit==6.2
pyobjc-framework-ExceptionHandling==6.2
pyobjc-framework-ExecutionPolicy==6.2
pyobjc-framework-ExternalAccessory==6.2
pyobjc-framework-FileProvider==6.2
pyobjc-framework-FileProviderUI==6.2
pyobjc-framework-FinderSync==6.2
pyobjc-framework-FSEvents==6.2
pyobjc-framework-GameCenter==6.2
pyobjc-framework-GameController==6.2
pyobjc-framework-GameKit==6.2
pyobjc-framework-GameplayKit==6.2
pyobjc-framework-ImageCaptureCore==6.2
pyobjc-framework-IMServicePlugIn==6.2
pyobjc-framework-InputMethodKit==6.2
pyobjc-framework-InstallerPlugins==6.2
pyobjc-framework-InstantMessage==6.2
pyobjc-framework-Intents==6.2
pyobjc-framework-IOSurface==6.2
pyobjc-framework-iTunesLibrary==6.2
pyobjc-framework-LatentSemanticMapping==6.2
pyobjc-framework-LaunchServices==6.2
pyobjc-framework-libdispatch==6.2
pyobjc-framework-LinkPresentation==6.2
pyobjc-framework-LocalAuthentication==6.2
pyobjc-framework-MapKit==6.2
pyobjc-framework-MediaAccessibility==6.2
pyobjc-framework-MediaLibrary==6.2
pyobjc-framework-MediaPlayer==6.2
pyobjc-framework-MediaToolbox==6.2
pyobjc-framework-Metal==6.2
pyobjc-framework-MetalKit==6.2
pyobjc-framework-ModelIO==6.2
pyobjc-framework-MultipeerConnectivity==6.2
pyobjc-framework-NaturalLanguage==6.2
pyobjc-framework-NetFS==6.2
pyobjc-framework-Network==6.2
pyobjc-framework-NetworkExtension==6.2
pyobjc-framework-NotificationCenter==6.2
pyobjc-framework-OpenDirectory==6.2
pyobjc-framework-OSAKit==6.2
pyobjc-framework-OSLog==6.2
pyobjc-framework-PencilKit==6.2
pyobjc-framework-Photos==6.2
pyobjc-framework-PhotosUI==6.2
pyobjc-framework-PreferencePanes==6.2
pyobjc-framework-PubSub==6.2
pyobjc-framework-PushKit==6.2
pyobjc-framework-Quartz==6.2
pyobjc-framework-QuickLookThumbnailing==6.2
pyobjc-framework-SafariServices==6.2
pyobjc-framework-SceneKit==6.2
pyobjc-framework-ScreenSaver==6.2
pyobjc-framework-ScriptingBridge==6.2
pyobjc-framework-SearchKit==6.2
pyobjc-framework-Security==6.2
pyobjc-framework-SecurityFoundation==6.2
pyobjc-framework-SecurityInterface==6.2
pyobjc-framework-ServiceManagement==6.2
pyobjc-framework-Social==6.2
pyobjc-framework-SoundAnalysis==6.2
pyobjc-framework-Speech==6.2
pyobjc-framework-SpriteKit==6.2
pyobjc-framework-StoreKit==6.2
pyobjc-framework-SyncServices==6.2
pyobjc-framework-SystemConfiguration==6.2
pyobjc-framework-SystemExtensions==6.2
pyobjc-framework-UserNotifications==6.2
pyobjc-framework-VideoSubscriberAccount==6.2
pyobjc-framework-VideoToolbox==6.2
pyobjc-framework-Vision==6.2
pyobjc-framework-WebKit==6.2
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyperclip==1.7.0
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyquery==1.4.1
PyRect==0.1.4
pyrsistent==0.15.7
PyScreeze==0.1.26
pytest==5.4.1
pytest-shutil==1.7.0
python-dateutil==2.8.1
python-for-android==2020.6.2
python-Levenshtein==0.12.0
pytoml==0.1.21
PyTweening==1.0.3
pytz==2019.3
pywebcopy==6.1.1
pyxdg==0.26
PyYAML==5.3
pyzmq==18.1.1
queuelib==1.5.0
requests==2.23.0
rsa==3.4.2
s3transfer==0.3.3
schedule==0.6.0
scikit-learn==0.22.1
scipy==1.4.1
Scrapy==2.0.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
sh==1.13.1
six==1.14.0
slackclient==2.7.1
soupsieve==2.0
sqlparse==0.4.1
tabula-py==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
toml==0.10.1
tornado==6.0.3
traitlets==4.3.3
Twisted==20.3.0
tzlocal==1.5.1
urllib3==1.25.8
views==0.3
virtualenv==20.0.21
w3lib==1.21.0
wcwidth==0.1.8
webdriver-manager==3.2.1
webencodings==0.5.1
Werkzeug==1.0.0
xlrd==1.2.0
yarg==0.1.9
yarl==1.4.2
zipfile36==0.1.3
zipp==3.1.0
zope.interface==5.1.0
